# ==========================
# Arduino / ESP Build Files
# ==========================
*.ino.bin
*.elf
*.hex
*.eep
*.map
*.lst
*.sym
*.bin
*.out

# Arduino IDE
*.arduino
*.tmp
*.bak
*.swp

# ==========================
# ESP-IDF / PlatformIO
# ==========================
.pio/
build/
sdkconfig
sdkconfig.old

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
ehthumbs.db
Desktop.ini

# ==========================
# Linux
# ==========================
*~

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Backup files
# ==========================
*.orig
*.save
